body {
    background-image: url('background.jpg');
    background-size: 100%;
}

.App {
    display: flex;
    justify-content: space-around;
    margin: 15rem auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5rem;
    width: 30rem;
    height: 20rem;
    border: 0.3rem solid #64D8FB;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3rem #64D8FB;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 15rem;
    height: 10rem;
    color: black;
    background-color: #64D8FB;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 1rem;
}

.red {
    color: red;
}

.buttonsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 14rem;
    height: 10rem;
    border: 0.2rem solid #64D8FB;
    border-radius: 0.5rem;

}

.button {
    margin: 1rem;
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #64D8FB;
}

.button:hover {
    box-shadow: 0 0 1rem #64D8FB;
    cursor: pointer;
}

.button:disabled {
    background-color: black;
    color: #64D8FB;
}